.container1 {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
  
}
.product-table {
    margin: 10px;
    width: 1300px;
    font-family: Arial, sans-serif;
  
    .header {
      display: flex;
      width: 176vh;
      height: 100px;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      background-color: #ddd;
      h1 {
        margin: 0;
      }
  
      .add-product {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        text-decoration: none;
      }
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
  
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
  
      th {
        background-color: #f2f2f2;
      }
  
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
  
      .view-btn, .edit-btn, .delete-btn {
        margin: 0 5px;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        text-decoration: none;
      }
  
      .view-btn {
        background-color: #007bff;
        color: white;
      }
  
      .edit-btn {
        background-color: #ff9800;
        color: white;
      }
  
      .delete-btn {
        background-color: #f44336;
        color: white;
      }
    }
  
    .pagination {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      button {
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #ddd;
        background-color: #f2f2f2;
        cursor: pointer;
      }
  
      span {
        margin: 0 5px;
      }
    }
  }
  .app {
    display: flex;
  
    .sidebar {
      min-height: 610px;
      background-color: #343a40;
      color: white;
      padding: 20px;
  
      h2 {
        margin-bottom: 20px;
      }
  
      nav ul {
        list-style-type: none;
        padding: 0;
  
        li {
          margin: 10px 0;
        }
      }
  
      .footer {
        margin-top: auto;
        p {
          margin: 5px 0;
        }
      }
    }
  
    main {
      flex-grow: 1;
      padding: 20px;
    }
  }
  .product-table-select {
    padding: 10px;
    display: flex;
    justify-content: flex-end;

    .product-table-select-option {
        width: 80px;
        height: 20px;
        border-radius: 4px;
        margin-left: 10px;
    }
}